<!-- <div class="container">
  <p-table *ngIf="dataLoaded" [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="!dataLoaded">
    <p-skeleton></p-skeleton>
    <p-skeleton></p-skeleton>
    <p-skeleton></p-skeleton>
    <p-skeleton></p-skeleton>
  </div>
</div> -->

<div class="container">
  <p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <ng-container *ngIf="!dataLoaded">
            <p-skeleton></p-skeleton>
          </ng-container>
          <ng-container *ngIf="dataLoaded">{{ product.code }}</ng-container>
        </td>
        <td>
          <ng-container *ngIf="!dataLoaded">
            <p-skeleton></p-skeleton>
          </ng-container>
          <ng-container *ngIf="dataLoaded">{{ product.name }}</ng-container>
        </td>
        <td>
          <ng-container *ngIf="!dataLoaded">
            <p-skeleton></p-skeleton>
          </ng-container>
          <ng-container *ngIf="dataLoaded">{{ product.category }}</ng-container>
        </td>
        <td>
          <ng-container *ngIf="!dataLoaded">
            <p-skeleton></p-skeleton>
          </ng-container>
          <ng-container *ngIf="dataLoaded">{{ product.quantity }}</ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
